<div class="main_container">
  <div class="information">
    <h2>スケジュール詳細</h2>
  </div>
  <table>
    <tr>
      <th>タイトル</th>
      <td><%= @schedule.title %></td>    
    </tr>

    <tr>
      <th>開始日</th>
      <td><%= @schedule.start_day %></td>   
    </tr>  

    <tr>
      <th>終了日時</th>
      <td><%= @schedule.end_day %></td>
    </tr>

    <tr>
      <th>終日</th>
      <td>
        <% if @schedule.all_day == true %>
          ◯
          <% else @schedule.all_day == false %>
          ×
        <% end %>
      </td>  
    </tr>

    <tr>
      <th>スケジュールメモ</th>
      <td class="memo-area"><%= @schedule.memo %></td>  
    </tr>    

  </table>

  <div>
    <ul>
      <li class="link"><%= link_to "スケジュール一覧に戻る", :schedules %></li>
    </ul>
  </div>
</div>  